:root{
  --jt-primary : $(keycolor);
  --jt-text-color : $(body.text.color);
  --jt-heading-color : $(posts.title.color);
  --jt-link-color : $(body.link.color);
  --jt-link-hover : $(body.hover.color);
  --jt-btn-primary : $(posts.icons.color);
  --jt-btn-primary-hover : $(labels.background.color);
  --jt-btn-light-hover : $(posts.title.color);
  --jt-border-light : $(border.color);
  --jt-bg-white : #ffffff;
  --jt-bg-light : #f3f7f9;
  --jt-bg-archive : #fffff;
  --jt-nav-text : $(tabs.color);
  --jt-nav-hover : $(tabs.hover);
  --jt-nav-active : $(tabs.selected.color);
  --jt-nav-mobile : #ffffff;
  --jt-bg-body : $(body.background);
  --jt-bg-header : #ffffffdf;
  --jt-bg-footer : #212529;
  --jt-text-footer : #9fa6ad;
  --jt-bg-dropdown : #ffffff;
  --jt-dropdown-text : $(tabs.color);
  --jt-dropdown-hover : $(tabs.hover);
}


.dark-mode {
  --jt-primary : $(keycolor);
  --jt-text-color : #9fa6ad;
  --jt-heading-color : #9fa6ad;
  --jt-link-color : $(body.link.color);
  --jt-link-hover : $(body.hover.color);
  --jt-btn-primary : $(posts.icons.color);
  --jt-btn-primary-hover : $(labels.background.color);
  --jt-btn-light-hover : #ffffff;
  --jt-border-light : #323539;
  --jt-bg-white : #292d31;
  --jt-bg-light : #212529;
  --jt-bg-archive : #212529;
  --jt-nav-text : #9fa6ad;
  --jt-nav-hover : #ffffff;
  --jt-nav-active : $(tabs.selected.color);
  --jt-nav-mobile : #212529;
  --jt-bg-body : #212529;
  --jt-bg-header : #292d31;
  --jt-bg-footer : #292d31;
  --jt-text-footer : #9fa6ad;
  --jt-bg-dropdown : #292d31;
  --jt-dropdown-text : #9fa6ad;
  --jt-dropdown-hover : #ffffff;
  }

  
    body {
      --bs-font-sans-serif: $(body.text.family);
      font: $(body.text);
      color: var(--jt-text-color);
      background-color: var(--jt-bg-body);
      line-height: 1.5;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: optimizeLegibility;
      }
      .h1,.h2,.h3,.h4,.h5,.h6,
      h1,h2,h3,h4,h5,h6{
      font: $(posts.title);
      line-height: 1.2;
      }
      a {
      transition-property: background-color, border-color, color, fill, stroke;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: .3s;
      color: var(--jt-link-color);
      }
      a:hover {
      color: var(--jt-link-hover);
      }


      blockquote{
        display:block;
        background: #f3f5f5ad;
        padding: 15px 70px 15px 19px;
        margin:  0 0 20px;
        position: relative;
      
        /*Font*/
        direction:rtl;
        font-family: tajawal;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.2;
        color: #000000;
        text-align: justify;
        border-radius: 20px;
       
        
      }
      
        blockquote::before{
        content: "\201D"; /*Unicode for right Double Quote*/
         position: absolute;
      width: 1650px;
      height: 0px;
          
        /*Font*/
        direction:rtl;
        font-family: reem, serif;
        font-size: 60px;
        font-weight: bold;
        color: #000000;
        
        
          
        /*Positioning*/
        position: absolute;
        left: 10px;
        top:5px;
      }
      
      blockquote::after{
        direction:rtl;
        /*Reset to make sure*/
          content: "\201C";
      }
      
      blockquote a{
        direction:rtl;
        text-decoration: none;
        background: #eee;
        cursor: pointer;
        padding: 0 3px;
        color: #ff6c03;
      }
      
      blockquote a:hover{
       color: #666;
      }
      
      blockquote em{
        font-style: italic;
      
      
      }
      

      /* wird theme style */

      .header-animate.header-hidden {
        transform: translateY(-100%);
        box-shadow: none !important;
        }

             #header {
            background-color: #ffffff;
            transition-property: transform;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            border-radius: 20px;
            transition-duration: .3s;
            min-height: 50px;
            
             }

             #extra-menu {
              background-color: var(--jt-bg-header);
              }

              #dark-toggler .icon-mode:before {
                content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.2em' height='1.2em' viewBox='0 0 24 24' fill='none' stroke='%23686868' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z'%3E%3C/path%3E%3C/svg%3E");
                height: 1.2em;
                width: 1.2em;
                }
                .dark-mode #dark-toggler .icon-mode:before {
                content: url("data:image/svg+xml;utf8,%3Csvg width='1.2em' height='1.2em' fill='white' stroke='white' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z'%3E%3C/path%3E%3C/svg%3E");
                }

                #footer {
                  background-color: var(--jt-bg-footer);
                  color: var(--jt-text-footer);
                  }
                  #navbar {
                  z-index: 9999;
                  }
                  #navbar .menu-item {
                  position: relative;
                  }
                  #navbar .nav-link {
                  min-height: 40px;
                  }
                  #navbar .dropdown-toggle {
                  cursor: pointer;
                  align-items: center;
                  display: flex;
                  }
                  #navbar .navbar-nav > .menu-item > .nav-link {
                  font: $(tabs.font);
                  line-height: 1.5;
                  color: var(--jt-nav-text);
                  }
                  #navbar .navbar-nav > .menu-item > .nav-link:hover {
                  color: var(--jt-nav-hover);
                  }
                  #navbar .navbar-nav > .menu-item > .nav-link.active {
                  color: var(--jt-nav-active);
                  }
                  .logo-wrap {
                  width: $(logo.width);
                  }
                  #search-header .dropdown-menu{
                  min-width: 300px;
                  left:0;
                  top:100%
                  }
                  .blog-admin {
                  display: none;
                  }
                  #pagination li + li {
                  margin-right: 5px;
                  }
                  .no-items {
                  display: none;
                  }
                  .separator {
                  margin-bottom: 1.5rem;
                  }
                  .separator a {
                  margin: 0 !important;
                  padding: 0 !important;
                  }
                  .widget:last-child,
                  #special-categories .widget {
                  margin-bottom: 0 !important;
                  }
                  body > .google-auto-placed {
                  margin: 0 auto 1.5rem;
                  max-width: 1108px;
                  }
                  .google-auto-placed > ins {
                  margin: 0 !important;
                  }
                  .popular-hero .adsbygoogle {
                  display: none !important;
                  }
                  #post-body .widget {
                  margin-top: 1.5rem;
                  }
                  .item-title, .entry-title {
                      color: var(--jt-heading-color);
                  }
                  #comment-editor{
                  width:100%
                  }
                  #pagination .btn,
                  .jt-btn-circle {
                  padding-top: 8px;
                  line-height: 1;
                  }
                  
                  
        /* TYPOGRAPY */              
        .h1,h1{font-size:calc(1.375rem + 1.5vw)}
.h2,h2{font-size:calc(1.325rem + .9vw)}
.h3,h3{font-size:calc(1.3rem + .6vw)}
.h4,h4{font-size:calc(1.275rem + .3vw)}
.h5,h5{font-size:$(title.h5)}
.h6,h6{font-size:$(title.h6)}

.entry-text h1,
.entry-text h2,
.entry-text h3,
.entry-text h4,
.entry-text h5,
.entry-text h6 {
color: var(--jt-heading-color);
padding-top: 1em;
margin-bottom: 1rem;
}


/* Responsive Style */

@media (min-width: 576px) {
  .drag-scroll.row-cols-sm-2 > * {
  max-width : 40%;
  }
  .drag-scroll.flex-lg-wrap {
  cursor: default;
  }
  .drag-scroll.flex-sm-wrap > * {
  max-width : none;
  }
  .ratio-sm-4x3 {
  padding-bottom: 75%;
  }
  .border-sm-end {
  border-right-width: 1px !important;
  border-right-style: solid;
  }
  #post-pager .next-page {
  border-right: 1px solid;
  }
  }
  @media (min-width: 768px) {
  .drag-scroll.row-cols-md-3 > * {
  max-width: 30%;
  }
  .drag-scroll.flex-lg-wrap {
  cursor: default;
  }
  .drag-scroll.flex-md-wrap > * {
  max-width : none;
  }
  .position-md-relative {
  position: relative;
  }
  .border-md-end {
  border-left-width: 1px !important;
  border-left-style: solid;
  }
  }
  @media (min-width: 992px) {
  .border-lg-end {
  border-left-width: 1px !important;
  border-left-style: solid;
  }
  .drag-scroll.row-cols-lg-4 > * {
  max-width: 23%;
  }
  .drag-scroll.flex-lg-wrap {
  cursor: default;
  }
  .drag-scroll.flex-lg-wrap > * {
  max-width: none;
  }
  #navbar .navbar-nav > .menu-item {
  display: flex;
  }
  #navbar .dropdown-menu {
  margin-top: -10px;
  display: block;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  box-shadow: -5px 10px 10px -5px rgba(0, 0, 0, 0.14);
  top:100%;
  }
  #navbar .dropdown-menu .nav-link {
  padding-left: 20px;
  color: var(--jt-text-color);
  }
  #navbar .dropdown-menu .nav-link:hover {
  color: var(--jt-dropdown-hover);
  }
  #navbar .dropdown-menu .dropdown-toggle {
  position: absolute;
  left: 10px;
  top: 20px;
  }
  #navbar .dropdown-menu .dropdown-menu {
  margin-right: -10px;
  right: 100%;
  top: -1px;
  }
  #navbar .menu-item:hover > .dropdown-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: unset;
  margin: 0;
  }
  #navbar .navbar-nav > .menu-item > .nav-link {
  padding: 1.5rem 1rem;
  white-space:nowrap;
  }
  #navbar .navbar-nav > .menu-item > .dropdown-toggle {
  pointer-events: none;
  }
  #sidebar {
  border-right: 1px solid;
  }
  #footer-widget .widget {
  margin-bottom: 0 !important;
  }
  }
  @media (min-width: 1200px){
  .h1,h1{font-size:$(posts.title.size)}
  .h2,h2{font-size:$(title.h2)}
  .h3,h3{font-size:$(title.h3)}
  .h4,h4{font-size:$(title.h4)}
  }
  @media (max-width: 991.98px) {
  input:checked ~ .dropdown-menu {
  display: block;
  }
  input:checked + .dropdown-toggle {
  color: var(--jt-nav-active);
  }
  .drag-scroll {
  overflow-x: auto !important;
  }
  .logo-wrap {
  width: $(logo.width.mobile);
  }
  #search-header .dropdown-menu{
  width: 100%;
  }
  #navbar {
  background-color: var(--jt-nav-mobile);
  padding-top: 70px;
  padding-bottom: 30px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto;
  }
  #navbar.d-block {
  opacity: 0;
  transform: translateX(-20%);
  -webkit-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  }
  #navbar.show {
  transform: translateX(0);
  opacity: 1;
  }
  #navbar .navbar-nav {
  max-height: 100%;
  overflow-y: auto;
  }
  #navbar-toggle:checked ~ #header-main #navbar {
  display:block;
  }
  #navbar .nav-link {
  border-bottom: 1px solid var(--jt-border-light);
  color: var(--jt-text-color);
  }
  #navbar .nav-link:hover {
  color: var(--jt-dropdown-hover);
  }
  #navbar .dropdown-toggle {
  border-right: 1px solid var(--jt-border-light);
  height: 2.5rem;
  padding: 0 1rem;
  position: absolute;
  left: 0;
  top: 0;
  }
  #navbar .dropdown-menu {
  border: none;
  padding-right: 10px;
  }
  #sidebar {
  border-top: 1px solid;
  }
  }
  @media (max-width: 575.98px) {
  #post-pager .prev-page + .next-page {
  border-top: 1px solid;
  }
  #toc-post,
  .full-width,
  .feature-image,
  .px-3 > .google-auto-placed {
  margin-left: -1rem;
  margin-right: -1rem;
  width: auto !important;
  }
  }
  

